<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="POST">
        {% csrf_token %}
        ENO: <input type="number" name="eno" id=""><br><br>
        NAME: <input type="text" name="ename" id=""><br><br>
        ESAL: <input type="number" name="esal" id=""><br><br>
        EADDR: <input type="text" name="eaddr" id=""><br><br>
        <input type="submit" value="submit">

    </form>
</body>
</html>